<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																           and uncomment the following Encore helpers to start using Symfony UX #}
		{% if is_granted('IS_ANONYMOUS') %}
			<a href="{{ path('app_login') }}">Login</a>
		{% else %}
			<a href="{{ path('app_logout') }}">Logout</a>
		{% endif %}


		<a href="{{ path('post_index') }}">Posts</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('comment_index') }}">Comments</a>
		{% endif %}

		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
